body {
  background: rgb(180,0,0);
}

.container {
  width: 710px;
  margin: 20px auto;
  padding: 10px;
  background: rgb(256,256,256);
  border-style:double;	
  border-width:10px;
  border-color:rgb(0, 0, 0);
  -moz-border-radius:    25px;
  -webkit-border-radius: 25px;
  border-radius:         25px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Navigation */

nav {
  font-size:28px;
  word-spacing:14px;
  text-align:center;
  font-weight:bold;	
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color:rgb(180,0,0);
  text-decoration:none;
}

nav ul li a:hover { 
  color:rgb(139, 117, 0);
  text-decoration:none;
}

/* Section */

section {
  font-size: 120%;
  padding:0px;
  text-align:center;
}

section h1 {
  font-size: 300%;
  text-align: center;
  color: rgb(0, 33, 71);
}

/* My picture */

#my_picture {
  width:500px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
