<h2>AVE migration in the mouse embryo</h2>

<p>The early post-implantation (E5.5) mouse embryo consists of three tissues, which together form a geometry commonly referred to as an 'egg cylinder'. The visceral endoderm (VE) is an epithelium of roughly 150 cells surrounding the other two tissues.<%= image_tag("AVE_migration_vertex_model.jpg", :alt => "AVE migration in the vertex model", :id => 'AVE_migration_vertex_model') %> A subset of cells from the VE differentiate and migrate away from the distal tip of the embryo, coming to an abrupt stop at a point over the barrier between the epiblast and the extra-embryonic ectoderm. The final resting place of these cells is the future anterior.</p>

<p>The mechanisms driving migration are not clearly understood. Indeed it is unknown whether the position of the future anterior is pre-determined, or defined by the movement of the migrating cells. During this migratory period the phenomenon of multicellular rosettes has been observed, which occurs when five or more cells meet at a common vertex.</p>

<p>We have developed a vertex-based model of AVE migration. In this formulation cells are treated as polygons, with forces acting at vertices. Starting with a simple two-dimensional model, we were able to mimic rosette formation by allowing close vertices to join together. This was then transferred to a more realistic ellipsoid geometry, and more features, including cell growth, proliferation, and T1 transitions were incorporated. The model is currently being used to test various hypotheses in relation to AVE migration, which will in turn lead to experimental predictions that can be tested by Dr. Srinivas in the laboratory.</p><br />

