<h2>Curriculum Vitae</h2>

<table class="CV_table">
  
  <tr>
    <td class="CV_main_section_header">EDUCATION</td>
  </tr>
  
  <tr>
    <td>2007-present</td>
    <td class="CV_main_section_header">UNIVERSITY OF OXFORD <div class="CV_place_name">Oxford, UK</div></td>
  </tr>
  <tr>
    <td></td>
    <td>PhD candidate, Centre for Mathematical Biology</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <ul>
        <li>Awarded place on Life Sciences Interface Doctoral Training Centre (average application success rate of 10.4%).</li>
        <li>Granted four-year Engineering and Physics Sciences Research Council scholarship worth £74,695.</li>
        <li>Led major collaboration between Centre for Mathematical Biology and experimental biologists at Department of Physiology, Anatomy, and Genetics. Obtained funding of £1500 to present results of <%= link_to "this work", ave_migration_path %> at international conference in Rio de Janeiro, Brazil.</li>
        <li>Devised <%= link_to "new methodology", morphogen_gradients_path %>  for studying the problem of growth regulation in multi-cellular organisms.</li>
        <li>Organized two student conferences for over 120 delegates as part of committee for Society for Industrial and Applied Mathematics. Personally invited key-note speakers and designed <a href="http://people.maths.ox.ac.uk/siamstudentchapter/webpages/Conference2010/Conference.html">conference website</a> and registration system. </li>
      </ul>
    </td>
  </tr>
  
  <tr>
    <td>2003-2007</td>
    <td class="CV_main_section_header">UNIVERSITY OF BATH <div class="CV_place_name">Bath, UK</div></td>
  </tr>
  <tr>
    <td></td>
    <td>Master of Phyiscs degree in Mathematics and Physics</td>
  </tr> 
  <tr>
    <td></td>
    <td>
      <ul>
        <li>Awarded first-class honours, with final year average mark of 80.4%.</li>
        <li>Completed final-year dissertation on underwater sound propagation and published results to academic community in conference paper.</li>
        <li>Selected for year-long industrial placement at MBDA UK.</li> 
      </ul>
    </td>
  </tr> 
  
  <tr>
    <td class="CV_main_section_header">EXPERIENCE</td>
  </tr>
  
  <tr>
    <td>2006-2007</td>
    <td class="CV_main_section_header">JERSEY WATER<div class="CV_place_name">Jersey, UK</div></td>
  </tr>
  <tr>
    <td></td>
    <td>Holiday intern</td>
  </tr> 
  
  <tr>
    <td></td>
    <td>
      <ul>
        <li>Implemented computerised system for recording location of water mains pipes. Interacted with engineers on site and persuaded many of the usefulness of the new system.</li>
      </ul>
    </td>
  </tr> 
  
    <tr>
    <td>2005-2006</td>
    <td class="CV_main_section_header">MBDA UK<div class="CV_place_name">Bristol, UK</div></td>
  </tr>
  <tr>
    <td></td>
    <td>Undergraduate development scheme</td>
  </tr> 
  
  <tr>
    <td></td>
    <td>
      <ul>
        <li>Created innovative probabilistic algorithm for navigation of long range missiles.</li>
        <li>Conducted safety analysis as part of a team for trials of a new radio transmitter.</li>
        <li>Studied quantum mechanics distance learning module (attained 91.2% average mark).</li> 
      </ul>
    </td>
  </tr> 
  
  <tr>
    <td class="CV_main_section_header">ADDITIONAL DATA</td>
    <td>
      <ul>
        <li>Captain of Hertford College MCR football team 2009-2010. Led team to promotion from third to second division.</li>
        <li>Delivered over £5000 worth of food that would have been thrown away by supermarkets to charities as part of the <a href="http://www.oxfordfoodbank.com">Oxford Food Bank</a>.</li>
      </ul>
    </td>
  </tr>
        
</table>
