<h2 style="font-size:3em; font-weight:bold; margin-bottom:25px;">Writing in English?</h2>

<p style="font-size:1.5em; color:red; text-align:justify">Did you know that, regardless of its inherent quality, the reader will judge the validity of your work based on the language you use?<p>

<p style="font-size:1.2em; font-weight:bold">Compare the following two sentences:</p>

<ul style="font-size:1.2em; font-style:italic; text-align:justify">
<li> “Firstly, the propellers of the industrialization come into the picture, this is, the entrepreneurs, those who had the ideas, creativity and audacity to invest in industrial activities, and secondly the capitalist partners, financiers, and even banks and financial organizations, who put the capital.”</li><br />
<li> “Industrialization was driven initially by creative entrepreneurs, who possessed the ideas and audacity to invest in industrial activities; they were followed quickly by the capitalist partners, financiers, and even financial organizations that put up the capital.”</li>
</ul>

<p style="font-size:1.2em">This is an example of what we can do for <span style="font-weight:bold">you</span>.</p>

<p style="font-size:1.2em">Whether you’re in need of a complete editing service, or just that extra touch of finesse to take your writing to the next level,  <span style="font-weight:bold">we can help</span>.</p>

<p style="font-size:1.2em">We review essays, theses, research proposals, personal statements, CVs, and journal articles. Please <a class="external_links" href="mailto:aaron@aaronsmith.co.uk">contact me</a> with your enquiry, stating clearly the type of text, the number of words, and the level of service required; I will get back to you as quickly as possible with a quote.</p>




