<%= image_tag("aaron_m_smith.jpg", :alt => "Aaron M. Smith", :id => 'my_picture') %>

<address>
Tiundagatan 48-B<br />
Stabby<br />
75230 Uppsala<br />
Sweden
</address>

<p>Following the completion of my PhD in mathematical biology from the <%= link_to "University of Oxford", "http://www.ox.ac.uk"%> in April 2012, I am enjoying life in beautiful Uppsala, less than an hour's train journey from Stockholm in Sweden.</p>

<p>I am fascinated by languages and communication; I am currently taking courses in linguistics and grammar at <%= link_to "Uppsala University", "http://www.uu.se"%>, as well as attending and hosting regular conversation groups in English, Swedish and Spanish through the <%= link_to "Meetup", "http://www.meetup.com" %> website. I offer a range of language services, from editing/proofreading scientific articles, personal statements, theses and CVs through to Spanish-English translation. Click on the links above to find out more!</p>

