<%= image_tag("aaron_m_smith.jpg", :alt => "Aaron M. Smith", :id => 'my_picture') %>

<address>
Tiundagatan 48-B<br />
Stabby<br />
75230 Uppsala<br />
Sweden
</address>

<p>Following the completion of my PhD in mathematical biology from the <%= link_to "University of Oxford", "http://www.ox.ac.uk"%> in April 2012, I am enjoying life in beautiful Uppsala, less than an hour's train journey from Stockholm in Sweden.</p>

