<%= image_tag("aaron_m_smith.jpg", :alt => "Aaron M. Smith", :id => 'my_picture') %>

<address>
Tiundagatan 48-B<br />
Stabby<br />
75230 Uppsala<br />
Sweden
</address>

<p>Following the completion of my PhD in <a href="http://www2.maths.ox.ac.uk/cmb/">Mathematical Biology</a> from the University of Oxford in April 2012, I am currently living, working and studying in beautiful Uppsala in Sweden. Click on the links above to find out more!</p>

