<% my_picture = image_tag("aaron_m_smith.jpg", :alt => "Aaron M. Smith", :id => 'my_picture') %>
<%= link_to my_picture, "http://people.maths.ox.ac.uk/smitha1" %>

<address>
Centre for Mathematical Biology<br />
Mathematical Institute<br />
24-29 St Giles'<br />
Oxford <br />
OX1 3LB
</address>

<p>I am a final-year PhD student at the <a href="http://www.ox.ac.uk">University of Oxford</a>, working at the <a href="http://www2.maths.ox.ac.uk/cmb/">Centre for Mathematical Biology</a>. I am a member of <a href="http://www.hertford.ox.ac.uk/">Hertford College</a> and the <a href="http://www.lsi.ox.ac.uk/">Life Sciences Interface Doctoral Training Centre</a>.

