<h2>Modelling morphogen gradients in the vertex model</h2>

<p>We are developing an extension to the two-dimensional vertex formulation that includes a model of production, degradation, and diffusion of a chemical accross the domain. This utilises an Arbitrary Langragian Eulerian formulation and the finite-element method to solve the diffusion equation on a moving domain.</p>

<%= image_tag("morphogen_gradient_vertex_model.jpg", :alt => "Morphogen gradient in the vertex model", :id => 'morphogen_gradient_vertex_model') %>

<p>A potential application area is the <span style="font-style:italic">Drosophila</span> imaginal wing disc, a model system often used to examine organ patterning and growth. It grows from an embryonic primordium of roughly 40 cells to around 50,000. The size and shape of the adult wing is determined by the patterns of cell growth, division and a small amount of apoptosis in the disc.</p> 

<p>Decapentaplegic (Dpp) is a morphogen that plays a key role during many <span style="font-style:italic">Drosophila</span> developmental processes, and is thought to be crucial in the patterning of the wing disc, as well as acting as a growth-promoting factor. Despite the presence of an exponential Dpp gradient, however, growth is uniform across the wing disc. The exact mechanism by which Dpp controls growth is unknown, and there are several competing hypotheses. 
