<h2>Modelling morphogen gradients in the vertex model</h2>

<p>As part of my PhD I developed an extension to the two-dimensional vertex formulation that includes a model of production, degradation, and diffusion of a chemical aross the domain. I used an Arbitrary Langragian Eulerian formulation and the finite-element method to solve the diffusion equation on a moving domain.</p>

<%= image_tag("morphogen_gradient_vertex_model.jpg", :alt => "Morphogen gradient in the vertex model", :id => 'morphogen_gradient_vertex_model') %>

<p>One potential application area is the <span style="font-style:italic">Drosophila</span> imaginal wing disc, a model system often used to examine organ patterning and growth. It grows from an embryonic primordium of roughly 40 cells to around 50,000. The size and shape of the adult wing are determined by the patterns of cell growth, division and a small amount of apoptosis in the disc, which themselves are governed by a range of morphogens including Decapentaplegic (Dpp).</p> 

<p>The computational framework developed during this research was published in the <a href="http://www.ncbi.nlm.nih.gov/pubmed/21898111"> Journal of Mathematical Biology</a> in 2011. More information can also be found in my <%= link_to "thesis", "http://ora.ox.ac.uk/objects/uuid:4d19f232-764c-4e27-bca9-d2ede0ec2db9" %>, and the accompanying <%= link_to "movies", movies_path %>.</p>
