<h3 class="youtube_header">Thesis Movie 1</h3>
<p class="youtube_description">Simulation of tissue growing from 100 to 1100 cells with regular proliferation events.</p>
<div align="center" class="movie"><iframe width="420" height="345" src="http://www.youtube.com/embed/K-apDmB5yQQ" frameborder="0" allowfullscreen></iframe></div>

<h3 class="youtube_header">Thesis Movie 2</h3>
<p class="youtube_description">Simulation of tissue growing from 100 to 610 cells with regular proliferation and apoptosis.</p>
<div align="center" class="movie"><iframe width="420" height="345" src="http://www.youtube.com/embed/egNnkLx6YIc" frameborder="0" allowfullscreen></iframe></div>

<h3 class="youtube_header">Thesis Movie 3</h3>
<p class="youtube_description">Simulation of tissue growth with radial growth factor gradient. Cell growth is accelerated by the growth factor concentration at the centre of the cell. Cells at the centre of the tissue therefore grow faster and proliferate more frequently.</p>
<div align="center" class="movie"><iframe width="560" height="345" src="http://www.youtube.com/embed/J0Z6aZKnL-Y" frameborder="0" allowfullscreen></iframe></div>

<h3 class="youtube_header">Thesis Movie 4</h3>
<p class="youtube_description">Simulation of migration of a single cell (green) on the ellipsoid surface. A migratory force is applied to the proximal-most vertex of the migrating cell.</p>
<div align="center" class="movie"><iframe width="420" height="315" src="http://www.youtube.com/embed/Ry4vfQRg2cU" frameborder="0" allowfullscreen></iframe></div>

<h3 class="youtube_header">Thesis Movie 5</h3>
<p class="youtube_description">Simulation of migration of 10 cells, without rosette formation. A barrier to migration is incorporated by increasing the viscosity in the proximaml region of the embryo. The AVE breaks up into separate clusters of cells, with non-AVE between them.</p>
<div align="center" class="movie"><iframe width="420" height="315" src="http://www.youtube.com/embed/qoqJU7X3rE8" frameborder="0" allowfullscreen></iframe></div>

<h3 class="youtube_header">Thesis Movie 6</h3>
<p class="youtube_description">Simulation of migration of 10 cells, with rosette formation. In contrast to movie 5, the AVE stays clumped together as a single body.</p>
<div align="center" class="movie"><iframe width="420" height="315" src="http://www.youtube.com/embed/wNmFqWWS5q0" frameborder="0" allowfullscreen></iframe></div>

