<h3>AVE migration in the mouse embryo</h3>
<div align="center" class="movie"><iframe width="425" height="349" src="http://www.youtube.com/embed/DA21xITuoZg?rel=0" frameborder="0" allowfullscreen></iframe></div>
<h3>Modelling morphogen gradients in the vertex model</h3>
<div align="center" class="movie"><iframe width="560" height="349" src="http://www.youtube.com/embed/0WYYbnTxaoM?rel=0" frameborder="0" allowfullscreen></iframe></div>
