<h3>Movie 1 - Solving equations of motion with the 4th-order Runge-Kutta method</h3>
<div align="center" class="movie"><iframe width="420" height="345" src="http://www.youtube.com/embed/t91qcEna3Z4" frameborder="0" allowfullscreen></iframe></div>

<h3>Movie 2 - Growing tissue with regular proliferation events</h3>
<div align="center" class="movie"><iframe width="420" height="345" src="http://www.youtube.com/embed/FumJXxabWWY" frameborder="0" allowfullscreen></iframe></div>

<h3>AVE migration in the mouse embryo</h3>
<div align="center" class="movie"><iframe width="425" height="349" src="http://www.youtube.com/embed/DA21xITuoZg?rel=0" frameborder="0" allowfullscreen></iframe></div>

<h3>Modelling morphogen gradients in the vertex model</h3>
<div align="center" class="movie"><iframe width="560" height="349" src="http://www.youtube.com/embed/0WYYbnTxaoM?rel=0" frameborder="0" allowfullscreen></iframe></div>
