<p>During my PhD, I developed novel cell-based vertex models for the study of the role of chemical signalling factors in epithelial tissue growth regulation and migration of the anterior visceral endoderm in the developing mouse embryo. Vertex models, in which networks of cellular junctions at the apical surfaces of epithelial tissues are represented by configurations of polygons, have a history in modelling developmental systems stretching back at least 20 years.</p>

<p>Epithelia are sheets of cells that line various internal and external surfaces of the body. Amongst the various categories of epithelia is the simple epithelium, a monolayer of cells that often have very similar physical properties. It is this type of tissue for which vertex models are ideal.</p>

<p>In the vertex model, forces are based on the dynamic physical properties of the cells and act at polygonal vertices. Equations of motion are formulated and solved to elucidate the behaviour of the system over time. In my PhD <%= link_to "thesis", "Thesis_Aaron_Smith.pdf" %> I offer several extensions and novelties to the existing literature, and show how they can be applied to real biological systems.</p>

<ul>
<li> More information about my work on AVE migration in the mouse embryo can be found <%= link_to "here", ave_migration_path %>.</li>
<li> More information about my work on modelling morphogen gradients can be found <%= link_to "here", morphogen_gradients_path %>.</li>
<li> Click <%= link_to "here", movies_path %> for movies from my PhD.</li> 
</ul>
