<footer>
  <script type="text/javascript">
		var LastUpdated = document.lastModified;
		document.writeln ("This page was last updated on " + LastUpdated[3] + LastUpdated[4] + '/' + LastUpdated[0] + LastUpdated[1] + '/' +  LastUpdated[6] +  LastUpdated[7] +  LastUpdated[8] +  LastUpdated[9]);
  </script>
  - Please email any comments or corrections to <a class="external_links" href="mailto:aaron@aaronsmith.co.uk">Aaron Smith</a>.
</footer>
